<div class="caixa row" >
    <div class="col-7">
        <h2>Escolhe a tua personagem</h2>
        <select class="form-select" aria-label="Default select example" (change)="mudarStats($event)" >
            <option *ngFor=" let item of arrayPersonagens; index as indexOfelement;" value="{{indexOfelement}}" > {{item.name}} </option>
        </select> 
        <div>
            <img class="icones" src="../../../../assets/imagens/strength.png"><label>Ataque</label><h5>{{ataquezinho}}</h5>
            <h4></h4>    
            <img class="icones" src="../../../../assets/imagens/heart.png"><label>Vida</label><h5>{{vidazinha}}</h5>
            <h4></h4>
            <img class="icones" src="../../../../assets/imagens/inteligencia.png"><label>Inteligencia</label><h5>{{inteligenciazinha}}</h5>
            <h4></h4>
        </div>
        <h2>Escolhe a arma</h2>
        
        <div>
            <img class="icones" src="../../../../assets/imagens/strength.png"><label>Ataque</label> 
            <h4></h4>    
            <img class="icones" src="../../../../assets/imagens/heart.png"><label>Vida</label>
            <h4></h4>
            <img class="icones" src="../../../../assets/imagens/durabilidade.png"><label>Durabilidade</label>
            <h4></h4>
        </div>

        <button><a [routerLink]="['/CriarPersonagem']">Criar personagem</a></button><br>
        <button><a [routerLink]="['/CriarArma']">Criar arma</a></button><br>
        <button><a [routerLink]="['/Jogar']"> Jogar</a></button>
    </div>
    <div class="col-5">
        <div class="caixaPersonagem">  
            <img class="tipoPersonagem" src="../../../assets/imagens/monster.png">
        </div>
      
    </div>
</div>
