
.caixa{
    background-image: linear-gradient(to right, #394249,#2c3134,#272a2f,#28292d, #252527, #252429, #1a1519);
    margin-top: 8vh;
    margin-left: 15vw;
    width: 77vw;
    height: 82vh;
    border:solid 2.4px #6f7072;
 }

 .tipoPersonagem{
    width: 27vw;
    height: 69vh;    
    margin-top: 30px; 
    margin-left: 1vw;
}

.caixaPersonagem{
    background-image: url('../../../assets/imagens/fundo_personagem.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px #342f2c;
}

.caixaHunter{
    background-image: url('../../../assets/imagens/fundo_personagem.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px #342f2c;
    margin-top: 1vh;
}

h2{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    color: whitesmoke;
    font-family: 'Montaga', serif;
}

.botao{
    background-color: black;
    border: black;
    color: white;
    font-size: 16px;
    font-family: 'Montaga', serif;
    border-radius: 100% ;
    width: 190px;
    margin-left: 10px;
    margin-top: 3vh;  
}

.botao:hover{
    box-shadow: inset 0 0 1em rgb(128, 112, 23), 0 0 1em rgb(128, 112, 23);
}

a{
    text-decoration: none;
    color: white;
}

label{
    color: whitesmoke;
    font-family: 'Montaga', serif;
    font-size: 15px;
    margin-right: 15px;
}

h5{
    font-family: 'Montaga', serif;
    font-size: 15px;
    color: whitesmoke;
}

.botaoUpgrade{
    background-image: url("../../../assets/imagens/fundo_modal.png");
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Montaga', serif;
    width: 140px;
    margin-left: 10px;
    margin-top: 3vh;  
    display: block;
}

.backModal{
    /* background-image: linear-gradient(to right, #1e272e,#1a2125,#1a1d24,#222329, #1b1b22, #121018, #1a1519); */
    background-image: url('../../../assets/imagens/fundo_modal.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pontos{
    font-size: 15px;
    color: whitesmoke;
}

#boneca{
    width: 25vh;
    height: 25vh;
    margin-right: 2vw;
}

.tituloModal{
    color: whitesmoke;
}

.botaoFechar{
    background: transparent;
    border:none;
    color: white;
    font-size: 28px;
}