/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/imagens/fundoprincipal.jpeg');
}

.voltar{
    margin-top: 2px;
    margin-left: 2px;
    width: 30px;
    height: 30px;
 }

 .margin-left{
    margin-left: 40px;
}