  <div class="centrar-top">
    <button class="botao tipoletra" (click)="open(content)">Login</button>
    <button class="botao tipoletra" (click)="open(content1)">Registar</button>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header colorModal bordaModal ">
      <h4 class="modal-title letraLogin" id="modal-basic-title">Login</h4>
      <button type="button" class="close botaoFechar" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body colorModal bordaModal">
      <form class="colorModal">
        <div class="form-group">
          <label class="letraInput">Nome utilizador</label>
          <input type="email" class="form-control" #nome>
        </div><br>
        <div class="form-group">
          <label class="letraInput">Palavra-Passe</label>
          <input type="password" class="form-control" #pass>
        </div>
        <p #erro> Erro: Nome de utilizador ou palavra-passe inválidos!</p>
        <button type="submit" class="btn btn-primary letraInput botaoModal"   (click)="login(nome.value, pass.value, content, erro)">Entrar</button>
      </form>
    </div>
  </ng-template> 

  <ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header colorModal bordaModal ">
      <h4 class="modal-title letraLogin" id="modal-basic-title">Criar Utilizador</h4>
      <button type="button" class="close botaoFechar" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body colorModal bordaModal">
      <form class="colorModal">
        <div class="form-group">
          <label class="letraInput">Nome utilizador</label>
          <input type="email" class="form-control" #nomeutilizador>
        </div><br>
        <div class="form-group">
          <label class="letraInput">Palavra-Passe</label>
          <input type="password" class="form-control" #password>
        </div>
        <p #erroCriar> Erro: Conta não criada!</p>
        <button type="submit" class="btn btn-primary letraInput botaoModal" (click)="criarUtilizador(nomeutilizador.value, password.value, content1, erroCriar)">Criar</button>
      </form>
    </div>
  </ng-template> 

