
.colorModal{
    background-image: linear-gradient(to right, #1e272e,#1a2125,#1a1d24,#222329, #1b1b22, #121018, #1a1519);
}

.bordaModal{
    border:solid 2.4px #6f7072;
}

.tipoletra{
    color: white;
    font-size: 20px;
    font-family: 'Montaga', serif;
}

.letraLogin{
    color: white;
    font-size: 22px;
    font-family: 'Montaga', serif;
}

.letraInput{
    color: white;
    font-size: 16px;
    font-family: 'Montaga', serif;
}

.botaoModal{
    background-color: black;
    color: white;
    border: black;
    border-radius: 5px;
}
.botaoModal:hover{
    box-shadow: inset 0 0 1em rgb(128, 112, 23), 0 0 1em rgb(128, 112, 23);
}

.centrar-top{
    margin-top: 78vh;
 }
 
 .botao{
     border-radius: 100%;
     width: 230px;
     height: 32px;
     background-color: black;
     border: none;
     box-shadow: inset 0 0 1em black, 0 0 1em black;
 }
 
 .botao:first-child{
     margin-left: 43.5vw;
     margin-bottom: 1.5vh;
 }
 
 .botao:last-child{
     margin-left: 43.5vw;
 }

 .botao:hover{
    box-shadow: inset 0 0 1em rgb(128, 112, 23), 0 0 1em rgb(128, 112, 23);
 }
 
a{
  text-decoration: none;
 }
