<div class="caixa row" >
    <div class="col-4">
        <div class="progress barra">
            <div class="progress-bar bg-danger " role="progressbar" style="width:{{vidaPlayer1}}%"></div>
        </div>
        <img class="hunter" src='../../../assets/imagens/hunter.png'>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <div class="progress barra justify-content-end">
            <div class="progress-bar bg-danger " role="progressbar" style="width:{{vidaPlayer2}}%" ></div>
        </div>
        <img class="inimigo" src='../../../assets/imagens/HunterAleatorio1.png'>
    </div>

</div>