
.caixa{
    background-image: url('../../../assets/imagens/fundo2.jpg');
    width:100vw;
    height:100vh;
    border:solid 2.4px #6f7072;
 }

.hunter{
    margin-top: 18vh;
    width: 22vw;
    height: 50vh;
}

.inimigo{
    margin-top: 17vh;
    width: 25vw;
    height: 50vh;
}

h4{
    color: whitesmoke;
    font-family: 'Montaga', serif;
    font-size: 20px;
}

.margemDireitaStats{
    margin-right: 20px;
}

.margenstopStats{
    margin-top: 30px;
}

.margemEsquerdaStats{
    margin-left: 20px;

}


.botao{
    display: block;
    margin-top: 90vh;
    background-color: black;
    border: black;
    border-radius: 100% ;
    width: 230px;
    margin-left: 19vw;
    color: whitesmoke;
    font-family: 'Montaga', serif;
    font-size: 20px;
}

.botao:hover{
    box-shadow: inset 0 0 1em rgb(128, 112, 23), 0 0 1em rgb(128, 112, 23);
}