
.caixa{
    background-image: url('../../../assets/imagens/fundo2.jpg');
    width:100vw;
    height:100vh;
    border:solid 2.4px #6f7072;
 }

.hunter{
    margin-top: 1vh;
    width: 22vw;
    height: 50vh;
    transform: scaleX(-1);
}

.inimigo{
    margin-top: 1vh;
    width: 25vw;
    height: 52vh;
    padding-right: 6vw;
}

h4{
    color: whitesmoke;
    font-family: 'Montaga', serif;
    font-size: 20px;
}

.margemDireitaStats{
    margin-right: 20px;
}

.margenstopStats{
    margin-top: 30px;
}

.margemEsquerdaStats{
    margin-left: 20px;

}

.botao{
    display: block;
    margin-top: 90vh;
    background-color: black;
    border: black;
    border-radius: 100% ;
    width: 230px;
    margin-left: 19vw;
    color: whitesmoke;
    font-family: 'Montaga', serif;
    font-size: 20px;
}

.botao:hover{
    box-shadow: inset 0 0 1em rgb(128, 112, 23), 0 0 1em rgb(128, 112, 23);
}

p{
    color: red;
    font-family: 'Montaga', serif;
    font-size: 28px;
}

#danoP1{
    margin-top: 10vh;
    margin-left: 11.5vw;
    margin-bottom: 0;
    padding: 0;
}

#danoP2{
    margin-top: 10vh;
    margin-right: 13.5vw;
    margin-bottom: 0;
    padding: 0;
}